.skills-row {
  display: flex !important;
  justify-content: space-around !important;
  font-size: 40px;
}

.skills-column > p {
  font-size: 16px;
  text-align: left;
  margin-bottom: 6px;
}

.skills {
  display: flex;
  text-align: left;
  justify-content: space-around;
}

.skills-title {
  margin-bottom: 12px !important;
}

.cert-img {
  height: 300px;
  width: 380px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.cert-row {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 980px) and (max-width: 1280px) {
  .cert-img {
    height: 220px;
    width: 300px;
  }
}

@media only screen and (min-width: 737px) and (max-width: 820px) {
  .cert {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.button {
  cursor: pointer !important;
}

a {
  cursor: pointer !important;
}

.projects {
  height: auto;
  width: auto;
}

.project-card {
  background-color: #2f2f2f;
}

.project-text {
  text-shadow: none;
  color: #f3f3f3;
}
